
#wrapper {
width:820px;
background-color:white;
margin-left:auto;
margin-right:auto;
border: solid 10px #ef8990;
}


body { 
   
     color:#666666;
     font-family: Helvetica, Arial, sans-serif;
    font-size: 20px;
background-color:#cccccc;
}
header {
    padding-left:53px;
    padding-right:53px;
    float: center;
}

nav {
width:780px;
padding:10px;
float:center;
background-color:none;
padding-left:175px;
}


article {
width:750px;
margin-left:30px;
padding-right:10px;
padding-bottom:15px;
    color: #5f5e5e;
    font-size: 14px;
    font-family:sans-serif
}

article img {
    float:right;
    padding-bottom:10px;
    padding-left:10px;
   
}


footer {
padding:10px 10px 10px;
width:790px;
text-align:center;
color:#666666;
border-top: dotted 3px;
}

footer p {
text-align:center;
}

}


  nav {
    text-decoration: none }
  a:link {
    color: #76cbcc }
  a:visited {
    color: #9b8776 }

